<h1>Agregar un equipo</h1>
<form method="post" action="/equipo/add" >
    <label>Agregar equipo</label><br>
    <input type="text" name="nombre">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>



<h1>Agregar una competici贸n</h1>
<form method="post" action="/competicion/add" >
    <label>Agregar una competici贸n</label><br>
    <input type="text" name="nombre">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>


<h1>Relacionar un equipo a una competici贸n</h1>
<form method="post" action="/competicion/equipo/add" >
    <label>Agregar equipo</label><br>
    <input type="text" name="nombre">
    <br><br>
    <label>Agregar competici贸n</label><br>
    <input type="text" name="nombre">
    <br><br>
    <input type="submit" value="Submit">
    <br><br>
</form>


<h3>Equipos</h3>
<ul>
<% actors.forEach(function(actor){ %>
    <li><%= actor.nombre %></li>
<% }) %>
</ul>



<h3>Competiciones</h3>
<ul>
<% movies.forEach(function(movie){ %>
    <li><%= movie.nombre %></li>
<% }) %>
</ul>